{:paths ["src/lib" "resources/lib"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:dev {:extra-paths ["src/cli" "resources/cli"]}
  :run
  {:main-opts ["-m" "clj-easy.stub.main"]}

  :test
  {:extra-paths ["test" "src/cli" "resources/cli"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :build
  {:deps {io.github.clojure/tools.build {:tag "v0.5.1" :sha "21da7d4"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}

  :clojure-lsp
  {:replace-deps {com.github.clojure-lsp/clojure-lsp {:mvn/version "2021.11.16-16.52.14"}}
   :main-opts ["-m" "clojure-lsp.main"]}

  :cli
  {:extra-paths ["src/cli" "resources/cli"]
   :extra-deps {org.clojure/tools.cli {:mvn/version "1.0.206"}}}

  :native
  {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.887"}}}}}
